@model Category
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Kategori Güncelle</h4>
                <form class="forms-sample" method="post">
                    <input type="hidden" asp-for="CategoryId"/>
                    <div class="form-group">
                        <label for="exampleInputName1">Kategori Adı</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Kategori Adı" asp-for="Name">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>

