@model Customer
@{
    ViewData["Title"] = "CustomerGetByCity";
    Layout = "~/Views/Layout/Index.cshtml";
}


<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Şehir de Müşteri Var mı</h4>
                <form asp-action="CustomerGetByCity" class="forms-sample" method="get">
                    <div class="form-group">
                        <label for="exampleInputName1">Şehir Adı</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Şehir Adı" name="city" required>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Ara</button>
                </form>
                <br />
                <div class="alert alert-success">@ViewBag.Message</div>
            </div>
        </div>
    </div>
</div>

