@model List<string>

@{
    ViewData["Title"] = "CustomerIntersectByCiy";
    Layout = "~/Views/Layout/Index.cshtml";
}

<h2>Kesişim Kümesi Ankara-Antalya Olan Müşteriler</h2>

<ul>
    @foreach(var item in Model)
    {
        <li>@item</li>
    }
</ul>