<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="profile-image">
                    <img src="/Melody-Premium-Bootstrap-Admin-Dashboard-Template/images/faces/face5.jpg" alt="image" />
                </div>
                <div class="profile-name">
                    <p class="name">
                        Hoşgeldin Seher
                    </p>
                    <p class="designation">
                        Süper Admin
                    </p>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="fa fa-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Statistics">
                <i class="fa fa-anchor menu-icon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Categories/CategoryList/">
                <i class="fa fa-file-alt menu-icon"></i>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerList/">
                <i class="fa fa-bolt menu-icon"></i>
                <span class="menu-title">Müşteriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerListBalanceDesc/">
                <i class="fa fa-certificate menu-icon"></i>
                <span class="menu-title">Müşteriler(Bakiye Sıralama)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Customer/CustomerGetByCity/">
                <i class="fa fa-edit menu-icon"></i>
                <span class="menu-title">Şehre Göre Ara</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/ProductList/">
                <i class="fa fa-coffee menu-icon"></i>
                <span class="menu-title">Ürünler</span>
            </a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="/Product/Last5List/">
                <i class="fa fa-compass menu-icon"></i>
                <span class="menu-title">İlk 5 Ürün</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="/Product/Skip4ProductList/">
                <i class="fa fa-cubes menu-icon"></i>
                <span class="menu-title">Ürün Listesi 4 Ürün</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderAsyncList/">
                <i class="fa fa-film menu-icon"></i>
                <span class="menu-title">Sipariş Listesi</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Order/AllStokSmallerThen5/">
                <i class="fa fa-fax menu-icon"></i>
                <span class="menu-title">Sipariş Listesi(Stok < 5) </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderListByStatus/">
                <i class="fa fa-globe menu-icon"></i>
                <span class="menu-title">Sipariş Listesi(Duruma Göre)</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Order/OrderListSearch/">
                <i class="fa fa-search menu-icon"></i>
                <span class="menu-title">Sipariş Ara</span>
            </a>
        </li>

    </ul>
</nav>