@model Order

@{
    ViewData["Title"] = "UpdateOrder";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Sipariş Güncelle</h4>
                <form class="forms-sample" method="post">
                    <input type="hidden" asp-for="OrderId" />
                    <div class="form-group">
                        <label for="exampleInputName1">Ürün Seçiniz</label>
                        <select asp-for="ProductId" asp-items="@ViewBag.product" class="form-control">
                            <option value="">Seçiniz</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputName1">Müşteri Seçiniz</label>
                        <select asp-for="CustomerId" asp-items="@ViewBag.customer" class="form-control">
                            <option value="">Seçiniz</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputName1">Sipariş Adet</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Sipariş Adeti" asp-for="Count">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Birim Fiyat</label>
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Birim Fiyatı" asp-for="UnitPrice">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Toplam Fiyat</label>
                        <input type="text" class="form-control" id="exampleInputName3" placeholder="Toplam Fiyatı" asp-for="TotalPrice">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Sipariş Durumu</label>
                        <input type="text" class="form-control" id="exampleInputName3" placeholder="Sipariş Durumu" asp-for="Status">
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Siparişi Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>




